.gameContainer {

    display: flex;
    flex-direction: column;

}

.gameRow {

    display: flex;
    flex-direction: row;

}

.playableCell {

    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    border:1px solid black;
    background-color: white !important;

}

.gameCell {

    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    background-color: tan;
    border:1px solid black;
    /* margin:10px; */

}

